.Rproj.user
.Rhistory
.RData
.Ruserdata
.RDataTmp
CY6_MS_CMB_STU_QQ2.sav
CY6_MS_CMB_STU_QQQ.sav
Literature
PUF_SPSS_COMBINED_CMB_STU_QQQ.zip
SCH
SPSS_SCH_QQQ.zip
SPSS_STU_QQQ.zip
SPSS_STU_TIM.zip
STU
TIM
To Read.txt
UK (Scotland).zip
fig1.png
fig2.png
fig3.png
first.Rmd
first.docx
for04022021.docx
pisa.Rproj
protocol.docx
ref3.bib
svyfig1.png
test34.R
v13012021.docx
v15122020.docx
